{% if output_type == 'all' -%}
## ========= General ========= ##
ntp_timezone: "{{ general_data.ntp_timezone }}"
project_name: {{ general_data.project_name }}
ansible_dir: "{{ ansible_dir }}"
url: "{% if setup_data.url %}https://controlplane.{{ setup_data.domain }}{% else %}https://controlplane.redteam.com{% endif %}"

headscale: "headscale"
{% if c2_data is not none %}
redirector:
  https:  
  {% for num in range(1, c2_data.redir_https.count + 1) %}
    - {{ c2_data.redir_https.instance_name }}{% if c2_data.redir_https.count > 1 %}{{ num }}{% endif %}
  
  {% endfor -%}
  {% if phish_data %}
  phish: "{{ phish_data.redir.instance_name }}"
  {% endif %}
  {% if c2_data.get('redir_dns') %}
  dns: "{{ c2_data.redir_dns.instance_name }}"
  {% endif %}
c2_machine: "{{ c2_data.framework.vm_hostname }}"
{% endif %}
{% if phish_data %}
phish_machine: "{{ phish_data.server.vm_hostname }}"
{% endif %}
{% if siem_data %}
siem_machine: "{{ siem_data.vm_hostname }}"
{% endif %}

## ========= Terraform ========= ##
combinations:
  - segment: headscale
    cloud: {{ headscale_data.provider }}
{% if c2_data is not none %}
  - segment: c2
    cloud: {{ c2_data.provider }}
{% endif %}
{% if phish_data is not none %}
  - segment: phish
    cloud: {{ phish_data.provider }}
{% endif %}
{% if siem_data %}
  - segment: siem
    cloud: {{ siem_data.provider }}
{% endif %}

{% elif output_type == 'extravars' %}
{% include 'extravars.j2' %}
{% elif output_type == 'network' %}
{% include 'network.j2' %}
{% elif output_type == 'c2_segment' %}
{% include 'c2_segment.j2' %}
{% elif output_type == 'segment_phish' %}
{% include 'phish_segment.j2' %}
{% endif %}

