{% if output_type == 'network' -%}
## ========= Setup Headscale ========= ##
url: "{% if setup_data.url %}https://controlplane.{{ setup_data.domain }}{% else %}https://controlplane.redteam.com{% endif %}"
domain: controlplane.{{ setup_data.domain }}
base_domain_headscale: {{ setup_data.base_domain_local }}
acme_email: "noemail@{{ setup_data.domain }}"
dns_provider: {{ setup_data.dns_provider }}
listen_port: 27896
exp_time_preauthkeys: {{ setup_data.exp_time_preauthkeys }}
pre_auth_user:
{% for client in setup_data.user_client %}
  - {{ client }}
{% endfor %}
{% endif %}

