{% if output_type == 'all' -%}
## ========= General ========= ##
ntp_timezone: "{{ general_data.ntp_timezone }}"
project_name: {{ general_data.project_name }}

## ========= Setup Headscale ========= ##
url: "{% if setup_data.url %}https://controlplane.{{ setup_data.domain }}{% else %}https://controlplane.redteam.com{% endif %}"
domain: {{ setup_data.domain }}
base_domain_headscale: {{ setup_data.base_domain_local }}
acme_email: "noemail@{{ setup_data.domain }}"
dns_provider: {{ setup_data.dns_provider }}
listen_port: 27896
exp_time_preauthkeys: {{ setup_data.exp_time_preauthkeys }}
pre_auth_user:
{%- for client in setup_data.user_client %}
  - {{ client }}
{% endfor %}

headscale: "headscale"
{% if c2_data is not none %}
redirector:
  https:  
  {% for num in range(1, c2_data.redir_https.count + 1) %}
    - {{ c2_data.redir_https.vm_hostname }}{% if c2_data.redir_https.count > 1 %}{{ num }}{% endif %}
  
  {% endfor -%}

  {% if c2_data.get('redir_dns') %}
  dns: "redir_dns"
  {% endif %}
c2_machine: "c2_srv"
{% endif %}
{% if phish_data %}
redirector:
  phish: "redir_phish"
phish_machine: "phish_srv"
{% endif %}

## ========= Terraform ========= ##
combinations:
  - segment: headscale
    cloud: {{ headscale_data.provider }}
{% if c2_data is not none %}
  - segment: c2
    cloud: {{ c2_data.provider }}
{% endif %}
{% if phish_data is not none %}
  - segment: phish
    cloud: {{ phish_data.provider }}
{% endif %}  

{% elif output_type == 'c2_segment' %}
{% include 'c2_segment.j2' %}
{% elif output_type == 'segment_phish' %}
{% include 'phish_segment.j2' %}
{% endif %}

