{% if output_type == 'all' -%}
## ========= General ========= ##
ntp_timezone: "{{ general_data.ntp_timezone }}"
project_name: {{ general_data.project_name }}

## ========= Setup Headscale ========= ##
url: "{% if setup_data.url %}https://controlplane.{{ setup_data.domain }}{% else %}https://controlplane.redteam.com{% endif %}"
domain: {{ setup_data.domain }}
base_domain_headscale: {{ setup_data.base_domain_local }}
acme_email: "noemail@{{ setup_data.domain }}"
dns_provider: {{ setup_data.dns_provider }}
listen_port: 27896
exp_time_preauthkeys: {{ setup_data.exp_time_preauthkeys }}
pre_auth_user:
{%- for client in setup_data.user_client %}
  - {{ client }}
{%- endfor %}

## ========= Terraform ========= ##
provisioning_user: {{ general_data.provisioning_user }}
headscale:
  provider: {{ headscale_data.provider }}
  location: {{ headscale_data.region }}
  vm_hostname: {{ headscale_data.vm_hostname }}
  vm_username: {{ headscale_data.vm_username }}
{% if c2_data is not none -%}
c2_segment:
  provider: {{ c2_data.provider }}
  location: {{ c2_data.region }}
  {%- set redir_https_data = c2_data.redir_https -%}
  {%- for num in range(1, redir_https_data.count + 1) %}
  redir_https:
    number: {{ num }}
    vm_hostname: {{ redir_https_data.vm_hostname }}{% if redir_https_data.count > 1 %}{{ num }}{% endif %}
    vm_username: {{ redir_https_data.vm_username }}{% if redir_https_data.count > 1 %}{{ num }}{% endif %}
  {%- endfor %}
  {%- if c2_data.get('redir_dns') %}
  redir_dns:
    vm_hostname: {{ c2_data.redir_dns.vm_hostname }}
    vm_username: {{ c2_data.redir_dns.vm_username }}
    subdomain: {{ c2_data.redir_dns.subdomain }}
  {%- endif %}
  server:
    vm_hostname: {{ c2_data.framework.vm_hostname }}
    vm_username: {{ c2_data.framework.vm_username }}
{%- endif -%}
{%- if phish_data is not none %}
segment_phish:
  provider: {{ phish_data.provider }}
  location: {{ phish_data.region }}
  server:
    vm_hostname: {{ phish_data.server.vm_hostname }}
    vm_username: {{ phish_data.server.vm_username }}
  redir:
    vm_hostname: {{ phish_data.redir.vm_hostname }}
    vm_username: {{ phish_data.redir.vm_username }}
{% endif %}

headscale: "headscale"
{%- if c2_data is not none %}
redirector:
  https:  
  {%- for num in range(1, c2_data.redir_https.count + 1) %}
    - {{ c2_data.redir_https.vm_hostname }}{% if c2_data.redir_https.count > 1 %}{{ num }}{% endif %}
  {%- endfor %}
  {% if c2_data.get('redir_dns') %}dns: "redir_dns"{% endif %}
c2_machine: "c2server"
{% endif %}
{% if phish_data %}
redirector:
  phish: "redir_phish"
phish_machine: "phish_srv"
{% endif %}

{%- elif output_type == 'c2_segment' -%}
{%- include 'c2_segment.j2' -%}
{%- elif output_type == 'segment_phish' -%}
{%- include 'phish_segment.j2' -%}
{% endif %}

