{% macro segment_template(segment_name, data) %}
{{"="*40}}
Segment: {{ segment_name }}
{{"-"*40}}
    Provider: {{ data.provider }}
    Domain: {{ data.domain }}
    {% if data.framework %}
    Framework: {{ data.framework }}
    {% endif %}
    {% if data.total_redirector_https %}
    Total Redirector HTTPs: {{ data.total_redirector_https }}
    {% endif %}
    {% if data.redirector_dns %}
    Redirector DNS: Yes
    {% endif %}
    {% if data.vm_size %}
    VM Size: {{ data.vm_size }}
    {% endif %}
{% endmacro %}

{% set headscale_segment = {
    'provider': headscale_data.provider,
    'domain': setup_data.domain,
} %}
{{ segment_template("Headscale", headscale_segment) }}

{% if c2_data %}
{% if c2_framework.get('cobaltstrike') %}
    {% set framework_c2 = 'Cobalt Strike' %}
{% elif c2_framework.get('sliver') %}
    {% set framework_c2 = 'Sliver' %}
{% elif c2_framework.get('havoc') %}
    {% set framework_c2 = 'Havoc' %}
{% endif %}
{% set c2_segment = {
    'provider': c2_data.provider,
    'domain': c2_data.redir_https.domain,
    'framework': framework_c2,
    'total_redirector_https': c2_data.redir_https.count,
    'redirector_dns': c2_data.get('redir_dns')
} %}
{{ segment_template("C2", c2_segment) }}
{% endif %}

{% if phish_data %}
{% set phish_segment = {
    'provider': phish_data.provider,
    'domain': phish_data.domain,
} %}
{{ segment_template("Phishing", phish_segment) }}
{% endif %}

{% if siem_data %}
{% set siem_segment = {
    'provider': siem_data.provider,
    'vm_size': siem_data.vm_size,
} %}
{{ segment_template("SIEM", siem_segment) }}
{% endif %}

{{"="*95}}
                                       Summary:
    - The configuration and resources above are ready for terraform and ansible deployment.
    - Please review and validate all details before proceeding.

                                       Warning:
    - Deployment might result in costs. Be aware of any charges associated with the resources.
{{"="*95}}
