{{ url }} {
  tls admin@{{ domain }}

  header -Server

  # Add security headers
  header {
      Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
      Content-Security-Policy "script-src 'self'; object-src 'self'"
      X-XSS-Protection "1; mode=block"
      X-Content-Type-Options "nosniff"
      X-Frame-Options "SAMEORIGIN"
      Referrer-Policy "strict-origin-when-cross-origin"
  }

  # Reverse proxy
  reverse_proxy 0.0.0.0:{{ listen_port }}

  # Log output to stdout
  log {
      output stdout
      level WARN  # Log only warnings and errors
  }
}