version: "3.3"
services:
  headscale:
    image: headscale/headscale:latest
    container_name: headscale
    volumes:
      - ./config:/etc/headscale/
      - ./keys:/var/lib/headscale/
    ports:
      - {{ listen_port }}:8080
      - 9090:9090
    command: headscale serve
    restart: unless-stopped
  
  headscale-webui:
    image: ghcr.io/ifargle/headscale-webui:latest
    container_name: headscale-webui
    environment:
      - TZ=Asia/Bangkok
      - COLOR=red
      - HS_SERVER={{ url }}
      - DOMAIN_NAME={{ url }}
      - SCRIPT_NAME=/admin
      - KEY=""
      - AUTH_TYPE=basic
      - LOG_LEVEL=info
      - BASIC_AUTH_USER=user
      - BASIC_AUTH_PASS=password123@!
    ports:
      - 5000:5000
    volumes:
      - ./volume:/data                         
      - ./config/:/etc/headscale/:ro